BleDA/Service References/AttiLA/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocalizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ILocalizationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocalizationService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_GetServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceStatus" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_GetServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_GetGlobalSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalSettings" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_GetGlobalSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_SetGlobalSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SetGlobalSettings" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_SetGlobalSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetGlobalSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_SetGlobalSettings_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_GetCloserContexts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCloserContexts" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_GetCloserContexts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCloserContextsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackingStart_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackingStart" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackingStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackingStartResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackingStart_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackingStop_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackingStop" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackingStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackingStopResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_Silence_InputMessage">
    <wsdl:part name="parameters" element="tns:Silence" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_Silence_OutputMessage">
    <wsdl:part name="parameters" element="tns:SilenceResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_ReportLocalizationProgress_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReportLocalizationProgress" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_ReportPrediction_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReportPrediction" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_ReportServiceStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReportServiceStatus" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILocalizationService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/Subscribe" message="tns:ILocalizationService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/SubscribeResponse" message="tns:ILocalizationService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/Unsubscribe" message="tns:ILocalizationService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/UnsubscribeResponse" message="tns:ILocalizationService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetServiceStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/GetServiceStatus" message="tns:ILocalizationService_GetServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/GetServiceStatusResponse" message="tns:ILocalizationService_GetServiceStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetGlobalSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/GetGlobalSettings" message="tns:ILocalizationService_GetGlobalSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/GetGlobalSettingsResponse" message="tns:ILocalizationService_GetGlobalSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetGlobalSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/SetGlobalSettings" message="tns:ILocalizationService_SetGlobalSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/SetGlobalSettingsResponse" message="tns:ILocalizationService_SetGlobalSettings_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILocalizationService/SetGlobalSettingsServiceExceptionFault" name="ServiceExceptionFault" message="tns:ILocalizationService_SetGlobalSettings_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCloserContexts">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/GetCloserContexts" message="tns:ILocalizationService_GetCloserContexts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/GetCloserContextsResponse" message="tns:ILocalizationService_GetCloserContexts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TrackingStart">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/TrackingStart" message="tns:ILocalizationService_TrackingStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/TrackingStartResponse" message="tns:ILocalizationService_TrackingStart_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILocalizationService/TrackingStartServiceExceptionFault" name="ServiceExceptionFault" message="tns:ILocalizationService_TrackingStart_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TrackingStop">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/TrackingStop" message="tns:ILocalizationService_TrackingStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/TrackingStopResponse" message="tns:ILocalizationService_TrackingStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Silence">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/Silence" message="tns:ILocalizationService_Silence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/SilenceResponse" message="tns:ILocalizationService_Silence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReportLocalizationProgress">
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/ReportLocalizationProgress" message="tns:ILocalizationService_ReportLocalizationProgress_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReportPrediction">
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/ReportPrediction" message="tns:ILocalizationService_ReportPrediction_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReportServiceStatus">
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/ReportServiceStatus" message="tns:ILocalizationService_ReportServiceStatus_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_ILocalizationService" type="tns:ILocalizationService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ILocalizationService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatus">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/GetServiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalSettings">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/GetGlobalSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGlobalSettings">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/SetGlobalSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCloserContexts">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/GetCloserContexts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackingStart">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/TrackingStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackingStop">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/TrackingStop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Silence">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/Silence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportLocalizationProgress">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/ReportLocalizationProgress" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportPrediction">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/ReportPrediction" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportServiceStatus">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/ReportServiceStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocalizationService">
    <wsdl:port name="NetNamedPipeBinding_ILocalizationService" binding="tns:NetNamedPipeBinding_ILocalizationService">
      <soap12:address location="net.pipe://localhost/AttiLAService/Localization" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/AttiLAService/Localization</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TINA\Manuel</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>