AttiLA.Test.LocalizationService/Service References/LocalizationServiceReference/AttiLA.LocalizationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContextId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceState" type="tns:ServiceStateCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceStatus" nillable="true" type="tns:ServiceStatus" />
  <xs:simpleType name="ServiceStateCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Idle" />
      <xs:enumeration value="Tracking" />
      <xs:enumeration value="Notification" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceStateCode" nillable="true" type="tns:ServiceStateCode" />
  <xs:complexType name="GlobalSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Localizer" nillable="true" type="tns:LocalizerSettings" />
      <xs:element minOccurs="0" name="NotificationThreshold" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Tracker" nillable="true" type="tns:TrackerSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GlobalSettings" nillable="true" type="tns:GlobalSettings" />
  <xs:complexType name="LocalizerSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Interval" type="xs:double" />
      <xs:element minOccurs="0" name="Retries" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="SimilarityAlgorithm" type="tns:SimilarityAlgorithmCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalizerSettings" nillable="true" type="tns:LocalizerSettings" />
  <xs:simpleType name="SimilarityAlgorithmCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaiveBayes" />
      <xs:enumeration value="RelativeErrorExtended" />
      <xs:enumeration value="RelativeError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SimilarityAlgorithmCode" nillable="true" type="tns:SimilarityAlgorithmCode" />
  <xs:complexType name="TrackerSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Interval" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackerSettings" nillable="true" type="tns:TrackerSettings" />
  <xs:complexType name="ServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceException" nillable="true" type="tns:ServiceException" />
  <xs:complexType name="ArrayOfContextPreference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContextPreference" nillable="true" type="tns:ContextPreference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContextPreference" nillable="true" type="tns:ArrayOfContextPreference" />
  <xs:complexType name="ContextPreference">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContextId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContextPreference" nillable="true" type="tns:ContextPreference" />
</xs:schema>