AttiLA.Test.LocalizationService/Service References/LocalizationServiceReference/AttiLA.LocalizationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GlobalSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tracking" nillable="true" type="tns:TrackerSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GlobalSettings" nillable="true" type="tns:GlobalSettings" />
  <xs:complexType name="TrackerSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaptureInterval" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackerSettings" nillable="true" type="tns:TrackerSettings" />
  <xs:complexType name="ServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceException" nillable="true" type="tns:ServiceException" />
  <xs:complexType name="ArrayOfContextSimilarity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContextSimilarity" nillable="true" type="tns:ContextSimilarity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContextSimilarity" nillable="true" type="tns:ArrayOfContextSimilarity" />
  <xs:complexType name="ContextSimilarity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContextId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Similarity" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContextSimilarity" nillable="true" type="tns:ContextSimilarity" />
</xs:schema>