AttiLA.Test.LocalizationService/Service References/LocalizationServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocalizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ILocalizationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocalizationService_GetGlobalSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalSettings" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_GetGlobalSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_SetGlobalSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SetGlobalSettings" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_SetGlobalSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetGlobalSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_SetGlobalSettings_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_ChangeContext_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeContext" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_ChangeContext_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeContextResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_ChangeContext_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_ChangeContext_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:ArgumentException" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_Localize_InputMessage">
    <wsdl:part name="parameters" element="tns:Localize" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_Localize_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalizeResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_Localize_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" name="detail" element="q4:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackModeStart_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackModeStart" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackModeStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackModeStartResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackModeStart_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" name="detail" element="q5:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackModeStop_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackModeStop" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackModeStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackModeStopResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalizationService_TrackModeStop_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" name="detail" element="q6:ServiceException" />
  </wsdl:message>
  <wsdl:portType name="ILocalizationService">
    <wsdl:operation name="GetGlobalSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/GetGlobalSettings" message="tns:ILocalizationService_GetGlobalSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/GetGlobalSettingsResponse" message="tns:ILocalizationService_GetGlobalSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetGlobalSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/SetGlobalSettings" message="tns:ILocalizationService_SetGlobalSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/SetGlobalSettingsResponse" message="tns:ILocalizationService_SetGlobalSettings_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILocalizationService/SetGlobalSettingsServiceExceptionFault" name="ServiceExceptionFault" message="tns:ILocalizationService_SetGlobalSettings_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeContext">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/ChangeContext" message="tns:ILocalizationService_ChangeContext_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/ChangeContextResponse" message="tns:ILocalizationService_ChangeContext_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILocalizationService/ChangeContextServiceExceptionFault" name="ServiceExceptionFault" message="tns:ILocalizationService_ChangeContext_ServiceExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILocalizationService/ChangeContextArgumentExceptionFault" name="ArgumentExceptionFault" message="tns:ILocalizationService_ChangeContext_ArgumentExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Localize">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/Localize" message="tns:ILocalizationService_Localize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/LocalizeResponse" message="tns:ILocalizationService_Localize_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILocalizationService/LocalizeServiceExceptionFault" name="ServiceExceptionFault" message="tns:ILocalizationService_Localize_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackModeStart">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/TrackModeStart" message="tns:ILocalizationService_TrackModeStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/TrackModeStartResponse" message="tns:ILocalizationService_TrackModeStart_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILocalizationService/TrackModeStartServiceExceptionFault" name="ServiceExceptionFault" message="tns:ILocalizationService_TrackModeStart_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackModeStop">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocalizationService/TrackModeStop" message="tns:ILocalizationService_TrackModeStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocalizationService/TrackModeStopResponse" message="tns:ILocalizationService_TrackModeStop_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILocalizationService/TrackModeStopServiceExceptionFault" name="ServiceExceptionFault" message="tns:ILocalizationService_TrackModeStop_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILocalizationService" type="tns:ILocalizationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGlobalSettings">
      <soap:operation soapAction="http://tempuri.org/ILocalizationService/GetGlobalSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGlobalSettings">
      <soap:operation soapAction="http://tempuri.org/ILocalizationService/SetGlobalSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangeContext">
      <soap:operation soapAction="http://tempuri.org/ILocalizationService/ChangeContext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Localize">
      <soap:operation soapAction="http://tempuri.org/ILocalizationService/Localize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackModeStart">
      <soap:operation soapAction="http://tempuri.org/ILocalizationService/TrackModeStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackModeStop">
      <soap:operation soapAction="http://tempuri.org/ILocalizationService/TrackModeStop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_ILocalizationService" type="tns:ILocalizationService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ILocalizationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetGlobalSettings">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/GetGlobalSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGlobalSettings">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/SetGlobalSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangeContext">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/ChangeContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Localize">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/Localize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackModeStart">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/TrackModeStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackModeStop">
      <soap12:operation soapAction="http://tempuri.org/ILocalizationService/TrackModeStop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocalizationService">
    <wsdl:port name="BasicHttpBinding_ILocalizationService" binding="tns:BasicHttpBinding_ILocalizationService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AttiLAService/Localization" />
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_ILocalizationService" binding="tns:NetNamedPipeBinding_ILocalizationService">
      <soap12:address location="net.pipe://localhost/AttiLAService/Localization" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/AttiLAService/Localization</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MAGSEET\Riccardo</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>