AttiLA.Test.LocalizationService/Service References/LocalizationServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnsubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" minOccurs="0" name="GetServiceStatusResult" nillable="true" type="q1:ServiceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" minOccurs="0" name="GetGlobalSettingsResult" nillable="true" type="q2:GlobalSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGlobalSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" minOccurs="0" name="newSettings" nillable="true" type="q3:GlobalSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGlobalSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetGlobalSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCloserContexts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCloserContextsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" minOccurs="0" name="GetCloserContextsResult" nillable="true" type="q4:ArrayOfContextPreference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contextId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingStartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingStop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingStopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Silence">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SilenceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLocalizationProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="progress" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPrediction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contextId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportServiceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AttiLA.LocalizationService" minOccurs="0" name="serviceStatus" nillable="true" type="q5:ServiceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>